body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 320px 320px;
}

.img {
    margin: 5px 5px;
    width: 136px;
    height: 136px;
}

.item {
	text-align: center;
    margin: 41px 41px;
}

.label {
    padding: 0px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    font-weight: bold;
}

.price {
    padding: 0px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/