body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 375px;
}

.tab {
    display: flex;
}

.tablinks {
    margin-right: 28px;
    margin-top: 16px;
    margin-bottom: 16px;

    border: none;
    background-color: transparent;

    white-space: nowrap;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

.tablinks:last-child {
    margin-right: 0;
}

.tablimiter {
    width: 351px;
    padding-left: 24px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    border: 0.5px solid #B2B2B2;

    mask-image: linear-gradient(
      90deg,
      transparent 0, rgba(0, 0, 0, .25) 9px,
      #000 18px,
      #000 calc(100% - 18px),
      rgba(0, 0, 0, .25) calc(100% - 9px),
      transparent
    );
}

::-webkit-scrollbar {
    display: none;
  }
  

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 258px 258px;
    grid-column-gap: 11px;
    grid-row-gap: 24px;
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
}

.imgwrapper {
    width: 162px;
    height: 162px;
    background: #F6F6F6;
}

.img {
    height: 162px;
}

.item {
	text-align: center;
}

.special {
    margin-left: 12px;
    margin-top: 8px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #AC5050;
}

.label {
    margin-top: 4px;
    margin-left: 12px;
    margin-bottom: 0;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #000;
}

.type {
    margin-left: 12px;
    margin-top: 0;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #757575;
}

.price {
    margin-left: 12px;
    margin-top: 12px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #000;
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/